<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddj.mycurrency"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />

    <application
        android:name="com.ddj.mycurrency.CurrencyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ddj.mycurrency.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ddj.mycurrency.AllCurrencyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ddj.mycurrency.FavoriteCurrencyActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.ddj.mycurrency.CalcCurrencyActivity"
            android:label="@string/app_name" >
        </activity>

        <service android:name="com.ddj.mycurrency.GetCurrencyService" >
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

</manifest>